h1,h2{text-align:center;}
.nanase{background-color:lightgreen;}
.ruka{background-color:lightpink;}
.miri{background-color:#9966ff;}
.ririka{background-color:lightblue;}
.hazuki{background-color:lightyellow;}