body{
   background: #ffd3ff;
}
table{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   width:auto;
   text-align:center;
   border: 1px solid #FF91A4;
  border-radius: 5px;
  background-color: rgba(200,255,200,0.5);
   padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.notdone{
   color: red;
}
tr{
   border: 1px solid #FF91A4;
  border-radius: 5px;
}
td,th,h1,h2,u,a {
  text-shadow: -0.75px -0.75px black,0.75px -0.75px black, -0.75px 0.75px black,0.75px 0.75px black;
  color: #FF91A4;
  
}
th{
  border: 1px solid #FF91A4;
  color: #FF91A4;
  font-size: 30px;
  border-radius: 5px;
}
h1{
  font-size: 40;
}
h2{
  font-size: 35;
}
a{
  font-size: 30px;
}
text{
   text-shadow: -0.75px -0.75px black,0.75px -0.75px black, -0.75px 0.75px black,0.75px 0.75px black;
   color: #FF91A4;
}