body{
   background-image:linear-gradient(#ffd3ff,#fddffd)
}
table{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   width:auto;
   text-align:center;
   border: 1px solid #FF91A4;
  border-radius: 5px;
  background-color: #c8ffc880;
   padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.notdone{
   color: red;
}
.inprogress{
  color:orange;
}
td{
   border: 1px solid #ff8095;
  border-radius: 5px;
}
th{
  text-shadow: -0.5px -0.5px black,0.5px -0.5px black, -0.5px 0.5px black,0.5px 0.5px black;
  color: rgb(80, 80, 80);
  font-family: Verdana, Geneva, sans-serif;
}
td,h1,h2,u,a,text {
  text-shadow: -0.5px -0.5px black,0.5px -0.5px black, -0.5px 0.5px black,0.5px 0.5px black;
  color: #ff8095;
  font-family: Verdana, Geneva, sans-serif;
}
th{
  border: 1px solid #FF91A4;
  font-size: 30px;
  border-radius: 5px;
}
h1{
  font-size: 40;
  text-align: center;
}
h2{
  font-size: 35;
}
a{
  font-size: 30px;
}