body{margin:0;}
#menu{top:0;left:0;orientation:landscape;z-index:1;}
#menu a{padding:2px 10px;transition:0.3s;background-color:#f1f1f1;color:black;text-decoration:none;font-size:initial;font-family:initial;text-shadow:initial;}
#menu a:hover,#sideNav a:hover{background-color:lightgray;}
#sideNav,#menu a{cursor:pointer;}
#sideNav{
  text-align:center;
  position:fixed;
  top:25%;
  right:5px;
  background-color:#f1f1f1;
  border-radius:5px;
  z-index:1;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
#sideNav a{
  display:block;
  padding:1px 10px;
  text-shadow:-0.5px -0.5px black,0.5px -0.5px black,-0.5px 0.5px black,0.5px 0.5px black;
  color:#ff8095;
  font-family:Verdana,Geneva,sans-serif;
  font-size:25px;
}
#sideNav span{
  display:inline-block;
  width:100%;
}
.isCurrent{
  transform:scaleX(1.1);
  color:red;
}
@media all and(max-width:499px){#side{top:6%;}}