body,.visible{
  background-color: #e3e9ec;
}
.lyrics{
    margin:auto;
}
.description{
  margin-bottom: 5px;/*mar*/
}
.visible{
  border-radius: 5px;
  border-color: #ccc;
  margin-bottom: 5px;/*mar*/
}
h1,h2,h3,.description,.lyrics,#footer #links{
  text-align: center;
}
h3{
  margin-bottom: 5px;/*mar*/
}
p{
  margin-top:10px;/*mar*/
  margin-bottom: 10px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width:90%;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.tabbtn{
  width: 20%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.section:hover{
  background-color: #ddd;
}
.tabbtn:hover {
  background-color: #ddd;
}
.tabbtn.active {
  background-color: #ccc;
}
.line{
  border-top:1px solid #555;
}
.underline{
  border-bottom:1px solid #bbb;
}
.tabcontent {
  width:90%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #888;
  border-top: none;
  margin:auto;
  animation: fadeEffect 0.75s;
}
#footer #links{
  orientation: landscape;
}
@keyframes fadeEffect {
  from {opacity: .25;}
  to {opacity: 1;}
}