body{
  background-color: #e3e9ec;
}
.lyrics{
    margin:auto;
    text-align: center;
}
.description{
  text-align: center;
  margin-bottom: 5px;
}
.visible{
  background-color: #e3e9ec;
  border-radius: 5px;
  border-color: #ccc;
  margin-bottom: 5px;
}
h1{
  text-align: center;
}
h3{
  text-align: center;
  margin-bottom: 5px;
}
p{
  margin-top:5px;
  margin-bottom: 5px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width:80%;
}
  
.tabbtn{
  width: 16%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
  
.tabbtn:hover {
  background-color: #ddd;
}
  
.tabbtn.active {
  background-color: #ccc;
}
.line{
  border-top:1px solid #555;
}
.romaji{
  border-bottom:1px solid #bbb;
}

.tabcontent {
  width:80%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #888;
  border-top: none;
  margin:auto;
  animation: fadeEffect 0.75s;
}

@keyframes fadeEffect {
  from {opacity: .25;}
  to {opacity: 1;}
}