body{background-image:linear-gradient(#ffd3ff,#fddffd);}
h1,table,p{text-align:center;}
.nanase{background-color:lightgreen;border-radius:5px;}
.ruka{background-color:lightpink;border-radius:5px;}
.miri{background-color:#9966ff;border-radius:5px;}
.ririka{background-color:#7fcef4;border-radius:5px;}
.hazuki{background-color:#ffe100;border-radius:5px;}
table{
   margin-left:auto;
   margin-right:auto;
   margin-bottom:20px;
   width:auto;
   border:1px solid #FF91A4;
   background-color:#c8ffc880;
   padding-top:1px;
   padding-bottom:1px;
   border-radius:7px;
}
.year{align-items:flex-start;}
.yl{
   position:-webkit-sticky;
   position:sticky;
   top:0;
}
#blogCounts span{display:block;}
.yl span{
   background-color:#ffd3ff;
   border-radius: 5px;
   padding:0 5px;
}
.notdone{color:red;}
tr.hidden,table.hidden,tbody.hidden{display:none;}
.inprogress{color:orange;}
td{
   border:1px solid #ff8095;
   border-radius:5px;
}
th{
  text-shadow:-0.75px -0.75px black,0.75px -0.75px black,-0.75px 0.75px black,0.75px 0.75px black;
  color:#e04bcc;
  font-family:Verdana,Geneva,sans-serif;
  border:1px solid #FF91A4;
  font-size:30px;
  border-radius:5px;
}
td,h1,h2,u,a,text{
  text-shadow:-0.75px -0.75px black,0.75px -0.75px black,-0.75px 0.75px black,0.75px 0.75px black;
  color:#ff617c;
  font-family:Verdana,Geneva,sans-serif;
}
h1{
  font-size:40;
}
h2{
  font-size:35;
}
a{
  font-size:35px;
}
h1,h2{text-align:center;}